
#background{
    background-image: url('images/Back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#indexNext{
  vertical-align:middle;
  margin:0px 50px;
}

#indexLinkedIn{
  color: LightSeaGreen;
}

#indexInstagram{
  color: MediumOrchid;
}

#indexTwitter{
  color: RoyalBlue;
}

#background2{
    background-image: url('images/Back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#background3{
    background-image: url('images/Back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#background0{
    background-image: url('images/Back0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#index0Button{
  margin: auto;
  border-radius: 20%;
}

#marginTop3{
  margin-top: 3em;
}

#marginTop6{
  margin-top: 6em;
}

#marginTop10{
  margin-top: 10em;
}

#marginLeft12{
  margin-left: 12em;
}

#myimage{
    border-radius: 20%;;
}
